<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <%= image_tag "background.jpeg", alt: "Le Wagon", class:"rounded mx-auto d-block img-fluid w-80" %>
    <div class="title_box">
      <h1>Artlantis | Art news</h1>
    </div>
    <div class="content-container">
      <div class="row">
        <% @contents.each do |content| %>
          <div class="col-4">
            <div class="m-3">
                <%= cl_image_tag art.images[0].key, class: 'card-artwork' %>
              <div class="art_text">
                <p><%= content.name%></p>
                <p>£<%= art.description%></p>
                <p><%= link_to "learn more", content_path(content)%></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
