<%# # PE show this %>

<%# ARTISTE NAME AND AVATAR %>
<br>

<div class="intro-product">
  <%= cl_image_tag @artist.image.key, class: "avatar-large" %>
  <div class="title_box">
    <h1 class="mb-3"><%= @artist.name %></h1>
    <p class="mb-3"><%= @artist.bio %></p>
  </div>
</div>

<%# ARTIST DESCRIPTION %>


<%# ONE ARTISTS MANY ARTWORKS TAXONOMY%>
<div class="container">
  <div class="row">
    <% @artist.arts.each do |art| %>
      <div class="col-4">
        <div class="m-3">
          <%= link_to  art_path(art) do %>
            <%= cl_image_tag art.images[0].key, class: 'w-100' %>
          <% end %>
          <p><%= art.name%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# seems like faker does not generate a name for the artworks - db rerun after you fix it %>
