<%# # PE show this %>

<%# ARTISTE NAME AND AVATAR %>
<br>

<div class="intro-product">
  <%= cl_image_tag @artist.image.key, class: "avatar-large" %>
  <div class="title_box">
    <h1><%= @artist.name %></h1>
    <br>
    <p><%= @artist.bio %></p>
    <br>
  </div>
</div>

<%# ARTIST DESCRIPTION %>


<%# ONE ARTISTS MANY ARTWORKS TAXONOMY%>
<div class="art-container">
  <div class="column">
    <div class="row">
      <% @artist.arts.each do |art| %>
        <div class="art_text">
          <div class="m-3">
            <%= link_to  art_path(art) do %>
              <%= cl_image_tag art.images[0].key,width: 500, height: 500, class: 'card-artist-show-art' %>
            <% end %>
            <p><%= art.name%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# seems like faker does not generate a name for the artworks - db rerun after you fix it %>
