<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <div class= "title_container">
      <div class="h1_titlebox2">
        <h1 class="piccie">Trending Art Topics</h1>
      </div>
      <div class="main__img--container2">
        <%= image_tag "pic2.svg", alt: "art_lover_icon", id:"main__img2" %>
      </div>
    </div>

    <div class= "white_container">
      <div class="card-product">
        <%= link_to "https://medium.com/@WorldofWomen/wow-makes-history-at-christies-all-time-high-nft-sale-by-a-woman-%EF%B8%8F-b55108eea0ed" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*ztbu4jQVFf6vxZs12OPICw.png", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> WoW Makes History: All Time High NFT Sale by a Woman at Christie's </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://www.wix.com/blog/creative/2020/02/best-art-blogs-to-inspire-you/" do %>
          <%= image_tag("https://static.wixstatic.com/media/72c0b2_388928f59270460db5069e6cd685dc05~mv2.jpg/v1/fill/w_1172,h_670,al_c,q_90/72c0b2_388928f59270460db5069e6cd685dc05~mv2.webp", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> 15 Best Art Blogs to Add to Your Reading List in 2022 </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/snap-shots/artists-at-height-of-covid-lockdown-we-will-overcome-f6b241124044" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*k89EyYbvFLwrcJcPCHGdOQ.jpeg", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> title </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/the-collector/how-art-history-paintings-inspired-gucci-balenciaga-and-dolce-d58d7be27135" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*_cj-I-tm-OK27tvlYUTKzQ.png", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> How Art History Paintings Inspired Gucci, Balenciaga And Dolce </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/writers-blokke/do-women-suck-at-making-art-2d5231e13bc" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*ejS29OY8sDNtiWZD-BNdkQ.jpeg", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> Do women suck at making art? </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/rogue-coyote-philosophy/the-art-of-creation-940a480026be" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*A44YXvPUokd8SJS4NbdPnw.jpeg", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> Create Something with Your Own Hands. </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/@tonicforlife/when-it-all-looks-terrible-keep-going-945b3a2c4077" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*B7BSC3QaRpjT-4QW-z755w.jpeg", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> When It All Looks Terrible Keep Going </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/swlh/3-reasons-why-be-yourself-is-actually-useful-advice-for-creators-43ae3d1b840f" do %>
          <%= image_tag("https://miro.medium.com/max/1400/0*J1AoELdcrU3MHwjv", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> 3 Reasons Why “Be Yourself” Is Actually Useful Advice for Creators </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://medium.com/writers-blokke/art-thief-ba865907b658" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*wQ9nJkBWUK511jigo5i0XA.jpeg", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> What is an NFT and how to look at it? </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://galaxy-diamonds.medium.com/what-is-an-nft-c92d6af68616" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*vrGTPAYA8sOFg_HCXFlZuA.png", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> What is an NFT and how to look at it? </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://eve-012-ts.medium.com/denmark-renowned-artist-hornsleth-breaks-yet-another-taboo-with-his-provocative-nft-art-20a65eda1309" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*rKFpa2A_SKTvwv2PZ328Ow.png", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> Denmark renowned artist Hornsleth breaks yet another taboo with his provocative NFT art </h2>
        </div>
      </div>

      <div class="card-product">
        <%= link_to "https://distortedviewpi.medium.com/todays-artwork-d1b0fc207152" do %>
          <%= image_tag("https://miro.medium.com/max/1400/1*LBzu5lwuJZbc5sXxJDfr0g.png", height:"200", width: "200")%>
        <% end %>
        <div class="card-product-infos">
          <h2> Todays Artwork </h2>
        </div>
      </div>

    </div>
  </div>
</div>
