<div class="banner d-flex justify-content-center flex-column">
  <div class="container justify-content-center d-flex flex-column text-center">
    <%= image_tag "background.jpeg", alt: "Le Wagon", class:"rounded mx-auto d-block img-fluid w-80" %>
    <div class="title_box">
      <h1>Artlantis | <%= @art.name %></h1>
    </div>
    <div class="show-container">
      <div class="art-border-container">
        <div>
          <%= cl_image_tag @art.images[0].key %>
        </div>
        <div class="art_text">
        <br>
        <div class="artist-details">
          <h3 style= "margin-right:100px;"><%= @artist.name%></h3>
          <br>
          <h3><%= cl_image_tag @artist.image.key, class: "avatar-artist" %></h3>
        </div>
          <h3><%= @art.description %></h3>
          <h3><%= @art.category %></h3>
          <h3><%= @art.location %></h3>
          <h3><%= @art.image %></h3>
          <h3>£<%= @art.cost %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
