<!DOCTYPE html>
<html>
  <head>
    <title>Artlantis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# All <link> tags belong here %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>
  <body style="display: flex; flex-direction: column" id="bootstrap-override">
    <%= render 'shared/navigation' %>
    <main class="container">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
  </body>
</html>
